# Compiled Python files
*.pyc
__pycache__/

# LaTeX auxiliary files
*.aux
*.log
*.out
*.toc
*.fls
*.fdb_latexmk
*.synctex.gz

# Ignore environment variables
.env

# Ignore compiled output
out/*

# Ignore all hidden system files
.DS_Store
Thumbs.db
